/* ----Listing pages---- */
.navigation {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
main {
  padding: 0 7%;
}
.nav-link li a{
  color: black;
}
.list-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-col {
  flex-basis: 70%;
}
.right-col {
  flex-basis: 30%;
}
.left-col h1 {
  color: #333;
  font-weight: 600;
  margin-bottom: 30px;
}
.house {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
.house-img {
  flex-basis: 40%;
}
.house-img img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.house-info {
  flex-basis: 58%;
  color: #555;
}