*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/banner.png);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 7%;
    
}
.logo {
    width: 100px;
    cursor: pointer;
    opacity: 0.3;
    border-radius: 10px;
}
.nav-link li {
    display: inline-block;
    margin: 10px 30px;
}
.nav-link li a {
    text-decoration: none;
    color: aliceblue;
}
.register-btn {
    background: hsl(355, 100%, 66%);
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}
.container {
    padding: 0 7%;
}
.container h1 {
    font-size: 4vh;
    font-weight: 500;
    color: aliceblue;
    text-align: center;
    padding-top: 22%;
}
.search-bar {
    background-color: aliceblue;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.search-bar form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button {
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img {
    width: 15px;
    margin-top: 8px;
}
.location-input {
    
    flex: 1;
}
.search-bar form label {
    font-weight: 600;
}

/* Deal */
.sub-title {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}
.exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.exclusives div img {
    width: 100%;
    border-radius: 10px;
}
.exclusives div {
    position: relative;
}
.exclusives div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: aliceblue;
}

/* Popular Places */
.trending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-bottom: 30px;

}
.trending div img {
    width: 100%;
    border-radius: 10px;

}
.trending h3 {
    font-weight: 600;
    margin-top: 10px;
}

/* ---Call to Action--- */
.cta {
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url(../images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}
.cta h3 {
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}
.cta p {
    font-size: 18px;
    margin: 10px 0 20px 0;
}
.cta-btn {
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 10px;
}

/* ---Stories--- */
.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}
.stories div img {
    width: 100%;
    border-radius: 10px;
}
.stories div {
    position: relative;
    text-align: center;
}
.stories p {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    color: #fff;
    font-size: 26px;
}
.start-btn {
    text-decoration: none;
    background: #ff5361;
    color: #fff;
    width: 100%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;

}

/* ---About--- */
.about-msg {
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}
.about-msg h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}
.footer {
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p {
    padding-bottom: 15px;
    color: #999;
    font-style: italic;
    font-size: 15px;
}
.active {
    position:relative;
}
.active::after {
    content: '';
    background: hsl(355, 100%, 66%);
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: -10px;
    border-radius: 2px;
}
.fa-solid{
    visibility: hidden;
}
/* ---Responsive---- */
@media only screen and (max-width:700px){
    .logo {
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav {
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: transparent;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.4s;
    }
    nav .nav-link li {
        margin: 10px 0;
        display: block;
    }
    nav .nav-link li a {
        color: #000;
    }
    .register-btn {
        margin: 15px 0 30px;
        display: inline-block;
    }
    .fa-bars {
        display: block;
        position: fixed;
        top: 4%;
        right: 10%;
        color: #090909;
        font-size: 28px;
        visibility: visible;
    }
    .active::after {
        left: -40px;
        transform: translate(0,50%);
        bottom: 50%;
    }
    .hidemenu {
        max-height: 300px;
    }
    .header h1 {
        padding-top: 200px;
        font-size: 7vw;
    }
    .search-bar{
        width: 100%;
        margin: 30px auto;
        padding: 20px 30px 10px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form {
        display: block;
    }
    .search-bar form input {
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin: 10px 0 20px 0;
        padding-bottom: 10px;

    }
    .search-bar form button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
    }
    .sub-title {
        font-size: 8vw;
    }
    .cta {
        padding: 15% 5%;
    }
    .cta h3 {
        font-size: 8vw;
        line-height: 10vw;
    }
    .cta p{
        font-size: 5vw;
    }
    .cta-btn {
        padding: 3vw;
        border-radius: 6px;
        font-size: 14px;
    }
}


